     <IfModule disp_apache2.c>
       # location of the configuration file. eg: 'conf/dispatcher.any'
       DispatcherConfig /etc/apache2/dispatcher.any

       # location of the dispatcher log file. eg: 'logs/dispatcher.log'
       DispatcherLog    /var/log/apache2/dispatcher.log 
  
       # log level for the dispatcher log, can be either specified
       # as a string or an integer (in parentheses)
       # error(0): Errors
       # warn(1):  Warnings
       # info(2):  Infos
       # debug(3): Debug
       # trace(4): Trace
       DispatcherLogLevel debug
       
       # if turned on, the dispatcher looks like a normal module
       # since build 5210, this setting has no effect, since it used to crash
       # apache if set to 0.
       DispatcherNoServerHeader On
  
       # if turned on, request to / are not handled by the dispatcher
       # use the mod_alias then for the correct mapping
       DispatcherDeclineRoot Off
	   
	   # Defines whether to use pre-processed URLs for all further processing by Dispatcher
	   DispatcherUseProcessedURL 0
	   
	   # Defines how to support error codes for ErrorDocument handling
	   # 0 - Dispatcher spools all error responses to the client.
	   # 1 - Dispatcher does not spool an error response to the client (where the status 
	   # code is greater or equal than 400), but passes the status code to Apache, which 
	   # e.g. allows an ErrorDocument directive to process such a status code.
	   # Code Range - Specify a range of error codes for which the response is passed to Apache.
	   DispatcherPassError 0 
	   
	   # Specifies the keep-alive timeout, in seconds. Starting with Dispatcher version 4.2.0 
	   # the default keep-alive value is 60. A value of 0 disables keep-alive
	   DispatcherKeepAliveTimeout 0 
     </IfModule>
